<div class="d-flex flex-column">
    <div class="d-flex flex-row wrapper">
        <div class="toolbar">
            <button class="btn ps-0 shadow-none" [ngClass]="selectedButton == 'general' ? 'toolbar-btn' : 'btn-unselected'">General</button>
            <button class="btn ps-0 shadow-none" *ngIf="entityType == 'boat'" [ngClass]="selectedButton == 'specifications' ? 'toolbar-btn' : 'btn-unselected'">Boat specifications</button>
            <button class="btn ps-0 shadow-none" *ngIf="entityType == 'house'" [ngClass]="selectedButton == 'specifications' ? 'toolbar-btn' : 'btn-unselected'">House details</button>
            <button class="btn ps-0 shadow-none" *ngIf="entityType == 'adventure'" [ngClass]="selectedButton == 'specifications' ? 'toolbar-btn' : 'btn-unselected'">Adventure details</button>
            <button class="btn ps-0 shadow-none" [ngClass]="selectedButton == 'pricing' ? 'toolbar-btn' : 'btn-unselected'">Pricing</button>
            <button class="btn ps-0 shadow-none" [ngClass]="selectedButton == 'gallery' ? 'toolbar-btn' : 'btn-unselected'">Gallery</button>
        </div>
    </div>
    <app-general class="content" [style.display]=" selectedButton=='general' ? 'block' : 'none'" [entityRegistrationRequest]="entityRegistrationRequest" [entityType]="entityType" [edit]="edit" [entityUpdateRequest]="entityUpdateRequest" (addGeneralInfoEvent)="addGeneralInfo()"></app-general>
    <app-boat-spec class="content" *ngIf="entityType == 'boat'" [style.display]=" selectedButton=='specifications' ? 'block' : 'none'" [entityRegistrationRequest]="entityRegistrationRequest" (addBoatSpecificationEvent)="addSpecification()"></app-boat-spec>
    <app-adventure-details class="content" *ngIf="entityType == 'adventure'" [style.display]=" selectedButton=='specifications' ? 'block' : 'none'" [entityRegistrationRequest]="entityRegistrationRequest" [edit]="edit" [entityUpdateRequest]="entityUpdateRequest" (addAdventureDetailsEvent)="addSpecification()"></app-adventure-details>
    <app-house-details class="content" *ngIf="entityType == 'house'" [style.display]=" selectedButton=='specifications' ? 'block' : 'none'" [entityRegistrationRequest]="entityRegistrationRequest" (addHouseDetailsEvent)="addSpecification()"></app-house-details>
    <app-pricing class="content" [style.display]=" selectedButton=='pricing' ? 'block' : 'none'" [entityRegistrationRequest]="entityRegistrationRequest" [entityType]="entityType" [edit]="edit" [entityUpdateRequest]="entityUpdateRequest" (addPricingEvent)="addPricing()"></app-pricing>
    <app-gallery class="content" [style.display]=" selectedButton=='gallery' ? 'block' : 'none'" [entityRegistrationRequest]="entityRegistrationRequest" [entityType]="entityType" [edit]="edit" [entityUpdateRequest]="entityUpdateRequest"></app-gallery>
</div>
