<div class="d-flex flex-column">
    <div class="fb-container" id="request-card" *ngFor="let request of requests">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column">
                <span>First name</span>
                <span>{{request.firstName}}</span>
            </div>
            <div class="d-flex flex-column">
                <span>Last name</span>
                <span>{{request.lastName}}</span>
            </div>
            <div class="d-flex flex-column">
                <span>Email</span>
                <span>{{request.email}}</span>
            </div>
            <div class="d-flex flex-column">
                <span>Country</span>
                <span>{{request.country}}</span>
            </div>
            <div class="d-flex flex-column">
                <span>City</span>
                <span>{{request.city}}</span>
            </div>
            <div class="d-flex flex-column">
                <span>Street and number</span>
                <span>{{request.address}}</span>
            </div>
            <div class="d-flex flex-column">
                <span>Phone number</span>
                <span>{{request.phoneNumber}}</span>
            </div>
            <div class="d-flex flex-column">
                <span>Registration type</span>
                <span>{{request.registrationType | userType}}</span>
            </div>
        </div>
        <div class="d-flex flex-column mt-2">
            <span>Application letter</span>
            <div class="mt-1">{{request.registrationMessage}}</div>
        </div>
        <div class="d-flex flex-row-reverse mt-4">
            <app-primary-button text="Approve request" class="ms-3" (click)="showDialog('Approve request', request.id)"></app-primary-button>
            <app-secondary-button text="Deny request" (click)="showDialog('Deny request', request.id)"></app-secondary-button>
        </div>
    </div> 

</div>