<div class="d-flex flex-column fb-container">
    <div class="title">{{title}} settings</div>
    <form class="d-flex flex-column">
        <div class="input-container form-fields">
            <label for="numOfPointsForReservation" class="input-label">Number of points {{title | lowercase}}s gain with each reservation</label>
            <input id="numOfPointsForReservation" type="text" name="numOfPointsForReservation">
        </div>
        <div class=" d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="babySeahorsePoints" class="input-label">Baby Seahorse Points</label>
                <input id="babySeahorsePoints" type="text" name="babySeahorsePoints">
            </div>
            <div class="input-container second">
                <label for="babySeahorseDiscount" class="input-label">{{loyaltyText}}</label>
                <input id="babySeahorseDiscount" type="text" name="babySeahorseDiscount">
            </div>
        </div>
        <div class=" d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="wildSwordfishPoints" class="input-label">Wild Swordfish Points</label>
                <input id="wildSwordfishPoints" type="text" name="wildSwordfishPoints">
            </div>
            <div class="input-container second">
                <label for="wildSwordfishDiscount" class="input-label">{{loyaltyText}}</label>
                <input id="wildSwordfishDiscount" type="text" name="wildSwordfishDiscount">
            </div>
        </div>
        <div class=" d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="experiencedSharkPoints" class="input-label">Experienced Shark Points</label>
                <input id="experiencedSharkPoints" type="text" name="experiencedSharkPoints">
            </div>
            <div class="input-container second">
                <label for="experiencedSharkDiscount" class="input-label">{{loyaltyText}}</label>
                <input id="experiencedSharkDiscount" type="text" name="experiencedSharkDiscount">
            </div>
        </div>
        <div class=" d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="mightyWhalePoints" class="input-label">Mighty Whale Points</label>
                <input id="mightyWhalePoints" type="text" name="mightyWhalePoints">
            </div>
            <div class="input-container second">
                <label for="mightyWhaleDiscount" class="input-label">{{loyaltyText}}</label>
                <input id="mightyWhaleDiscount" type="text" name="mightyWhaleDiscount">
            </div>
        </div>
        <app-primary-button text="Save settings" class="form-fields"></app-primary-button>
    </form>
</div>