<div class="form-wrapper d-flex flex-column">
    <div class="d-flex flex-row">
        <div class="main-photo d-flex flex-column">
            <div class="d-flex flex-row-reverse">
                <div class="w-50 photo-description">
                    <span class="photo-text">Main photo</span>
                </div>
            </div>
            <div class="upload-photos d-flex flex-column">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M37.5003 41.6668H8.33366V12.5002H27.0837V8.3335H8.33366C6.04199 8.3335 4.16699 10.2085 4.16699 12.5002V41.6668C4.16699 43.9585 6.04199 45.8335 8.33366 45.8335H37.5003C39.792 45.8335 41.667 43.9585 41.667 41.6668V22.9168H37.5003V41.6668ZM21.2712 35.0627L17.1878 30.146L11.4587 37.5002H34.3753L27.0003 27.6877L21.2712 35.0627ZM41.667 8.3335V2.0835H37.5003V8.3335H31.2503C31.2712 8.35433 31.2503 12.5002 31.2503 12.5002H37.5003V18.7293C37.5212 18.7502 41.667 18.7293 41.667 18.7293V12.5002H47.917V8.3335H41.667Z" fill="#A2A2A2"/>
                    </svg>
                <span class="upload-text">Upload photo</span>                    
            </div>
            <div></div>
        </div>
        <div class="small-photo d-flex flex-column ms-3">
            <div class="d-flex flex-row-reverse">
                <div class="w-25 photo-description">
                    <span class="photo-text">1</span>
                </div>
            </div>
        </div>
        <div class="small-photo d-flex flex-column ms-3">
            <div class="d-flex flex-row-reverse">
                <div class="w-25 photo-description">
                    <span class="photo-text">2</span>
                </div>
            </div>
        </div>
        <div class="small-photo d-flex flex-column ms-3">
            <div class="d-flex flex-row-reverse">
                <div class="w-25 photo-description">
                    <span class="photo-text">3</span>
                </div>
            </div>
        </div>
        <div class="small-photo d-flex flex-column ms-3">
            <div class="d-flex flex-row-reverse">
                <div class="w-25 photo-description">
                    <span class="photo-text">4</span>
                </div>
            </div>
        </div>
        <div class="small-photo d-flex flex-column ms-3">
            <div class="d-flex flex-row-reverse">
                <div class="w-25 photo-description">
                    <span class="photo-text">5</span>
                </div>
            </div>
        </div>
        <div class="small-photo d-flex flex-column ms-3">
            <div class="d-flex flex-row-reverse">
                <div class="w-25 photo-description">
                    <span class="photo-text">6</span>
                </div>
            </div>
        </div>
        <div class="small-photo d-flex flex-column ms-3">
            <div class="d-flex flex-row-reverse">
                <div class="w-25 photo-description">
                    <span class="photo-text">7</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cover-photo d-flex flex-column mt-4">
        <div class="d-flex flex-row-reverse">
            <div class="cover-description">
                <span class="photo-text">Boat cover photo</span>
            </div>
        </div>
        <div class="upload-photos d-flex flex-column">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.5003 41.6668H8.33366V12.5002H27.0837V8.3335H8.33366C6.04199 8.3335 4.16699 10.2085 4.16699 12.5002V41.6668C4.16699 43.9585 6.04199 45.8335 8.33366 45.8335H37.5003C39.792 45.8335 41.667 43.9585 41.667 41.6668V22.9168H37.5003V41.6668ZM21.2712 35.0627L17.1878 30.146L11.4587 37.5002H34.3753L27.0003 27.6877L21.2712 35.0627ZM41.667 8.3335V2.0835H37.5003V8.3335H31.2503C31.2712 8.35433 31.2503 12.5002 31.2503 12.5002H37.5003V18.7293C37.5212 18.7502 41.667 18.7293 41.667 18.7293V12.5002H47.917V8.3335H41.667Z" fill="#A2A2A2"/>
                </svg>
            <span class="upload-text">Upload photo</span>                    
        </div>
        <div></div>
    </div>
    <div class="mt-4 d-flex flex-row-reverse">
        <app-primary-button [text]="'Save and publish'" class="save-btn"></app-primary-button>
    </div>
</div>
