<div class="register-page d-flex flex-row">
    <img src="assets/images/register.jpg" alt="Join us today!" class="register-image">
    <app-glass-container [class.glass-container-expanded]="registrationExpanded" class="glass-container"></app-glass-container>
    <div class="back-to-website d-flex flex-row align-items-center">
        <svg class="back-arrow"></svg>
        <span>Back to website</span>
    </div>
    <div class="register-wrapper d-flex align-items-center">
        <div class="d-flex flex-column">
            <h4>Join us and choose from more than 10.000 boats, houses and adventures.</h4>
            <span class="subtitle">Register today and embark on a new journey!</span>
            <form>
                <div class="d-flex flex-row">
                    <div class="client-info">
                        <div class="form-fields d-flex flex-row">
                            <div class="input-container first">
                                <label for="firstName" class="input-label">First name</label>
                                <input id="firstName" type="text" [(ngModel)]="registrationRequest.firstName" name="firstName">
                            </div>
                            <div class="input-container second">
                                <label for="lastName" class="input-label">Last name</label>
                                <input id="lastName" type="text" [(ngModel)]="registrationRequest.lastName" name="lastName">
                            </div>
                        </div>
                        <div class="form-fields d-flex flex-row">
                            <div class="input-container first">
                                <label for="streetNumber" class="input-label">Street and number</label>
                                <input id="streetNumber" type="text" [(ngModel)]="registrationRequest.address" name="address">
                            </div>
                            <div class="d-flex flex-row second w-100">
                                <div class="input-container w-50 me-2">
                                    <label for="city" class="input-label">City</label>
                                    <input id="city" type="text" [(ngModel)]="registrationRequest.city" name="city">
                                </div>
                                <div class="input-container w-50 ms-2">
                                    <label for="state" class="input-label">State</label>
                                    <input id="state" type="text" [(ngModel)]="registrationRequest.country" name="country">
                                </div>
                            </div>
                        </div>
                        <div class="form-fields d-flex flex-row">
                            <div class="input-container first">
                                <label for="email" class="input-label">Email address</label>
                                <input id="email" type="text" [(ngModel)]="registrationRequest.email" name="email">
                            </div>
                            <div class="input-container second">
                                <label for="phone" class="input-label">Phone number</label>
                                <input id="phone" type="text" [(ngModel)]="registrationRequest.phoneNumber" name="phoneNumber">
                            </div>
                        </div>
                        <div class="form-fields d-flex flex-row">
                            <div class="input-container first">
                                <label for="password" class="input-label">Password</label>
                                <input id="password" type="password" [(ngModel)]="registrationRequest.password" name="password">
                            </div>
                            <div class="input-container second">
                                <label for="confirm-password" class="input-label">Confirm password</label>
                                <input id="confirm-password" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="seller-info">
                        <div *ngIf="registrationExpanded" class="d-flex flex-column align-items-flex-start">
                            <div class="form-fields">    
                                <div class="input-container first">
                                    <label for="clientType" class="input-label">What service do you provide?</label>
                                    <select id="clientType" name='registrationType' [(ngModel)]="registrationRequest.registrationType">
                                        <option [ngValue]="'ROLE_BOAT_OWNER'">Boat owner</option>
                                        <option [ngValue]="'ROLE_INSTRUCTOR'">Instructor</option>
                                        <option [ngValue]="'ROLE_HOUSE_OWNER'">House owner</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-container why-work-with-us">
                                <label for="registrationMessage" class="input-label">Why do you want to work with us?</label>
                                <textarea id="registrationMessage" maxLength="376" [(ngModel)]="registrationRequest.registrationMessage"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <span class="subtitle">Already have an account?<a> Sign in.</a></span>
            <app-primary-button class="create-account-btn" [text]="'Create account'" (click)="submitRequest()"></app-primary-button> 
            <div class="partner-with-us d-flex flex-row align-items-center">
                <span>Partner with us and sell on our website?</span>
                <label class="switch ms-2">
                    <input type="checkbox" [(ngModel)]="registrationExpanded">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

