<div class="d-flex flex-column align-items-center">
    <div class="container text-center header p-4">{{header}}</div>
    <textarea name="response" id="response" class="p-2" cols="30" rows="10" [(ngModel)]="response"></textarea>
    <div class="d-flex flex-row p-2">
        <app-primary-button text="Cancel" color="#F2F2F2" textColor="#A2A2A2" class="me-3" (click)="hideDialog()"></app-primary-button>
        <app-primary-button text="Send" color="#084B83" textColor="#fff" (click)="sendResponse()"></app-primary-button>
    </div>
</div>