<div class="form-wrapper d-flex flex-column align-items-center">
    <form [formGroup]="newEntityForm">
        <div class="form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (newEntityForm.controls.name.touched && newEntityForm.controls.name.errors?.['required'])}">
                <input id="name" type="text" formControlName="name" name="name" (focus)="newEntityForm.controls.name.markAsUntouched()" required>
                <label for="name" class="input-label">Name</label>
                <span class="error-message" *ngIf="newEntityForm.controls.name.touched && newEntityForm.controls.name.errors?.['required']">Entity name cannot be empty.</span>
            </div>
            <span class="maxchar">0/40max</span>
        </div>
        <div class="form-fields">
            <div class="input-container description" [ngClass]="{'input-container-error' : (newEntityForm.controls.description.touched && newEntityForm.controls.description.errors?.['required'])}">
                <textarea id="description" formControlName="description" maxLength="200" (focus)="newEntityForm.controls.description.markAsUntouched()" required></textarea>
                <label for="description" class="input-label">Description</label>
                <span class="error-message error-textarea" *ngIf="newEntityForm.controls.description.touched && newEntityForm.controls.description.errors?.['required']">Description cannot be empty.</span>
            </div>
            <span class="maxchar">0/200max</span>
        </div>
        <div class="form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (newEntityForm.controls.street.touched && newEntityForm.controls.street.errors?.['required'])}">
                <input id="street" type="text" formControlName="street" name="street" (focus)="newEntityForm.controls.street.markAsUntouched()" required>
                <label for="street" class="input-label">Street and number</label>
                <span class="error-message" *ngIf="newEntityForm.controls.street.touched && newEntityForm.controls.street.errors?.['required']">Address cannot be empty.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.state.touched && newEntityForm.controls.state.errors?.['required'])}">
                <select id="state" name='state' formControlName="state" (change)="onStateChanged()" (focus)="newEntityForm.controls.state.markAsUntouched()">
                    <option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>
                </select>
                <label for="state" class="input-label">State</label>
                <span class="error-message" *ngIf="newEntityForm.controls.state.touched && newEntityForm.controls.state.errors?.['required']">You must choose a state.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.city.touched && newEntityForm.controls.city.errors?.['required'])}">
                <select id="city" name='city' formControlName="city" (focus)="newEntityForm.controls.city.markAsUntouched()">
                    <option *ngFor="let city of filteredCities" [value]="city.name">{{city.name}}</option>
                </select>
                <label for="city" class="input-label">City</label>
                <span class="error-message" *ngIf="newEntityForm.controls.city.touched && newEntityForm.controls.city.errors?.['required']">You must choose a city.</span>
            </div>
        </div>
        <div class="checkbox-text grey-text">Choose which rules are applied when renting</div>
        
        <div class="applied-rules-grid">
            <div *ngFor="let appliedRule of appliedRules">
                <label><input type="checkbox" formArrayName="appliedRules"
                        [checked]="newEntityForm.controls['appliedRules'].value.includes(appliedRule)"
                        (value)="appliedRule.description"
                        (change)="appliedRulesChanged($event, appliedRule)"/>
                    <span class="checkbox-label">{{appliedRule.description}}</span>
                </label>
            </div>
        </div>

    </form>
    <app-primary-button [text]="'Next'" class="next-btn" (click)="addGeneralInfo()" [isBtnDisabled]="!newEntityForm.valid"></app-primary-button>
</div>
