<nav class="navbar navbar-light" *ngIf="isVisible">
    <div class="d-flex align-items-center">
        <svg class="fishbook-logo"></svg>
        <h5 class="fw-bold brand">Fishbook</h5>
    </div>
    <div class="nav-items d-flex flex-row align-items-center">
        <span class="nav-item">Boats</span>
        <span class="nav-item">Houses</span>
        <span class="nav-item">Adventures</span>
        <span class="nav-item">Sign in</span>
        <app-primary-button [text]="'Sign up'"></app-primary-button>
    </div>
    <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
</nav>
<div class="overlay d-flex justify-content-end w-100" [ngClass]="{'hidden-overlay' : !dropdownMenuVisible}">
    <div class="d-flex justify-content-end w-0" [ngClass]="{'menu-container' : dropdownMenuVisible}">
        <div [hidden]="!dropdownMenuVisible" class="nav-items-menu align-items-end">
            <span class="nav-item-menu mt-2">Boats</span>
            <span class="nav-item-menu">Houses</span>
            <span class="nav-item-menu">Adventures</span>
            <span class="nav-item-menu">Sign in</span>
            <span class="nav-item-menu">Sign up</span>
        </div>
    </div>
</div>