<div class="d-flex flex-column fb-container">
    <div class="title">New admin account</div>
    <form class="d-flex flex-column">
        <div class="d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="email" class="input-label">Email address</label>
                <input id="email" type="text" name="email">
            </div>
            <div class="input-container second">
                <label for="password" class="input-label">Password</label>
                <input id="password" type="password" name="password">
            </div>
        </div>
        <div class="d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="firstName" class="input-label">First name</label>
                <input id="firstName" type="text" name="firstName">
            </div>
            <div class="input-container second">
                <label for="lastName" class="input-label">Last name</label>
                <input id="lastName" type="text" name="lastName">
            </div>
        </div>
        <div class="d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="street" class="input-label">Street and number</label>
                <input id="street" type="text" name="street">
            </div>
            <div class="d-flex flex-row second">
                <div class="input-container first">
                    <label for="city" class="input-label">City</label>
                    <input id="city" type="text" name="city">
                </div>
                <div class="input-container second">
                    <label for="state" class="input-label">State</label>
                    <input id="state" type="text" name="state">
                </div>
            </div>
        </div>
        <div class="d-flex flex-row form-fields">
            <div class="input-container first">
                <label for="phone" class="input-label">Phone number</label>
                <input id="phone" type="text" name="phone">
            </div>
            <div class="second"></div>
        </div>
    </form>
    <app-primary-button text="Create admin account" class="form-fields"></app-primary-button>
</div>