@import 'src/styles/main.scss';

.form-wrapper{
    width: 100vw;
}

    .next-btn{
        width: 33.12vw;
        padding-bottom: 10px;
        margin-top: 12px;
    }

    .checkbox-text{
        color: color(darkgrey);
    }

    .equipment-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        row-gap: 10px;
        margin-bottom: 8px;
    }

    .form-fields{
        margin-bottom: 20px;
        width: 33.12vw;
        display: flex;
        flex-direction: column;
    }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .measurment{
            position: absolute;
            right: 5px;
            color: color(darkgrey);
        }

        .input-container{
            width: 100%;
        }

        .checkbox-label{
            color: color(blue);
            margin-left: 5px;
            @include noselect;
        }

        .checkbox-title{
            margin-top: 10px;
        }
