<div class="form-wrapper d-flex flex-column align-items-center">
    <form [formGroup]="newEntityForm">
        <div class="form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (newEntityForm.controls.boatType.touched && newEntityForm.controls.boatType.errors?.['required'])}">
                <select id="boatType" formControlName="boatType" name='boatType' (focus)="newEntityForm.controls.boatType.markAsUntouched()" required>
                    <option style="display:none"></option>
                    <option [ngValue]="'JET_SKI'">Jet Ski</option>
                    <option [ngValue]="'INFLATABLE_BOAT'">Inflatable boat</option>
                    <option [ngValue]="'AIRBOAT'">Airboat</option>
                    <option [ngValue]="'SPEEDBOAT'">Speedboat</option>
                    <option [ngValue]="'FERRY'">Ferry</option>
                    <option [ngValue]="'SMALL_YACHT'">Small yacht</option>
                    <option [ngValue]="'BIG_YACHT'">Big yacht</option>
                    <option [ngValue]="'SAILBOAT'">Sailboat</option>
                    <option [ngValue]="'BRIG'">Brig</option>
                    <option [ngValue]="'CABIN_CRUISER'">Cabin cruiser</option>
                    <option [ngValue]="'CRUISE'">Cruise</option>
                </select>
                <label for="boatType" class="input-label">Boat type</label>
                <span class="error-message" *ngIf="newEntityForm.controls.boatType.touched && newEntityForm.controls.boatType.errors?.['required']">Must choose a boat type.</span>
            </div>
        </div>
        <div class="form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (newEntityForm.controls.maxPeople.touched && newEntityForm.controls.maxPeople.errors?.['required'])}">
                <input id="maxPeople" type="number" formControlName="maxPeople" name="maxPeople" (focus)="newEntityForm.controls.maxPeople.markAsUntouched()" required>
                <label for="maxPeople" class="input-label">Maximum people</label>
                <span class="error-message" *ngIf="newEntityForm.controls.maxPeople.touched && newEntityForm.controls.maxPeople.errors?.['required']">Maximum people must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.length.touched && newEntityForm.controls.length.errors?.['required'])}">
                <input id="length" type="number" formControlName="length" name="length" (focus)="newEntityForm.controls.length.markAsUntouched()" required>
                <label for="length" class="input-label">Length</label>
                <span class="measurment">m</span>
                <span class="error-message" *ngIf="newEntityForm.controls.length.touched && newEntityForm.controls.length.errors?.['required']">Length must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.loadCapacity.touched && newEntityForm.controls.loadCapacity.errors?.['required'])}">
                <input id="loadCapacity" type="number" formControlName="loadCapacity" name="loadCapacity" (focus)="newEntityForm.controls.loadCapacity.markAsUntouched()" required>
                <label for="loadCapacity" class="input-label">Load capacity</label>
                <span class="measurment">kg</span>
                <span class="error-message" *ngIf="newEntityForm.controls.loadCapacity.touched && newEntityForm.controls.loadCapacity.errors?.['required']">Load capacity must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.maxSpeed.touched && newEntityForm.controls.maxSpeed.errors?.['required'])}">
                <input id="maxSpeed" type="number" formControlName="maxSpeed" name="maxSpeed" (focus)="newEntityForm.controls.maxSpeed.markAsUntouched()" required>
                <label for="maxSpeed" class="input-label">Maximum speed</label>
                <span class="measurment">km/h</span>
                <span class="error-message" *ngIf="newEntityForm.controls.maxSpeed.touched && newEntityForm.controls.maxSpeed.errors?.['required']">Maximum speed must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.horsepower.touched && newEntityForm.controls.horsepower.errors?.['required'])}">
                <input id="horsepower" type="number" formControlName="horsepower" name="horsepower" (focus)="newEntityForm.controls.horsepower.markAsUntouched()" required>
                <label for="horsepower" class="input-label">Horsepower</label>
                <span class="error-message" *ngIf="newEntityForm.controls.horsepower.touched && newEntityForm.controls.horsepower.errors?.['required']">Horsepower must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.motorsOnBoat.touched && newEntityForm.controls.motorsOnBoat.errors?.['required'])}">
                <input id="motorsOnBoat" type="number" formControlName="motorsOnBoat" name="motorsOnBoat" (focus)="newEntityForm.controls.motorsOnBoat.markAsUntouched()" required>
                <label for="motorsOnBoat" class="input-label">Motors on boat</label>
                <span class="error-message" *ngIf="newEntityForm.controls.motorsOnBoat.touched && newEntityForm.controls.motorsOnBoat.errors?.['required']">Motors on boat must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.fuelConsumption.touched && newEntityForm.controls.fuelConsumption.errors?.['required'])}">
                <input id="fuelConsumption" type="number" formControlName="fuelConsumption" name="fuelConsumption" (focus)="newEntityForm.controls.fuelConsumption.markAsUntouched()" required>
                <label for="fuelConsumption" class="input-label">Fuel consumption</label>
                <span class="measurment">l/h</span>
                <span class="error-message" *ngIf="newEntityForm.controls.fuelConsumption.touched && newEntityForm.controls.fuelConsumption.errors?.['required']">Fuel consumption must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.maxDistance.touched && newEntityForm.controls.maxDistance.errors?.['required'])}">
                <input id="maxDistance" type="number" formControlName="maxDistance" name="maxDistance" (focus)="newEntityForm.controls.maxDistance.markAsUntouched()" required>
                <label for="maxDistance" class="input-label">Max distance on tank</label>
                <span class="measurment">km</span>
                <span class="error-message" *ngIf="newEntityForm.controls.maxDistance.touched && newEntityForm.controls.maxDistance.errors?.['required']">Maximum distance must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newEntityForm.controls.energyConsumption.touched && newEntityForm.controls.energyConsumption.errors?.['required'])}">
                <input id="energyConsumption" type="number" formControlName="energyConsumption" name="energyConsumption" (focus)="newEntityForm.controls.energyConsumption.markAsUntouched()" required>
                <label for="energyConsumption" class="input-label">Energy consumption</label>
                <span class="measurment">W/h</span>
                <span class="error-message" *ngIf="newEntityForm.controls.energyConsumption.touched && newEntityForm.controls.energyConsumption.errors?.['required']">Energy consumption must be specified.</span>
            </div>
        </div>
        <span class="checkbox-text">Choose navigational equipment</span>
        <div class="equipment-grid">
            <div *ngFor="let equipmentItem of navigationEquipment">
                <label><input type="checkbox" formArrayName="equipment"
                        [checked]="newEntityForm.controls['equipment'].value.includes(equipmentItem)"
                        (value)="equipmentItem"
                        (change)="equipmentChanged($event, equipmentItem)"/>
                    <span class="checkbox-label">{{equipmentItem.name}}</span>
                </label>
            </div>
        </div>
        <span class="checkbox-text">Choose fishing equipment</span>
        <div class="equipment-grid">
            <div *ngFor="let equipmentItem of fishingEquipment">
                <label><input type="checkbox" formArrayName="equipment"
                        [checked]="newEntityForm.controls['equipment'].value.includes(equipmentItem)"
                        (value)="equipmentItem"
                        (change)="equipmentChanged($event, equipmentItem)"/>
                    <span class="checkbox-label">{{equipmentItem.name}}</span>
                </label>
            </div>
        </div>
    </form>
    <app-primary-button [text]="'Next'" class="next-btn" (click)="addBoatSpecification()"></app-primary-button>
</div>
