<div class="d-flex flex-column content-margin align-items-center">
    <h4 class="d-flex w-50">This is your first time logging in, please renew the password you were given.</h4>
    <form class="d-flex flex-column w-50" [formGroup]="passwordRenewalForm" id="form">
        <div formGroupName="passwords">
            <div class="input-container form-fields"  [ngClass]="{'input-container-error' : (getPasswordsControl().password.touched && getPasswordsControl().password.errors?.['required'])}">
                <label for="pass" class="input-label">Password</label>
                <input id="pass" type="password" name="pass" formControlName="password">
                <span class="error-message" *ngIf="getPasswordsControl().password.touched && getPasswordsControl().password.errors?.['required']">Password cannot be empty.</span>
            </div>
            <div class="input-container form-fields"  [ngClass]="{'input-container-error' : getPasswordsControl().confirmPassword.touched && (getPasswordsControl().confirmPassword.errors?.['required'] || passwordRenewalForm.controls.passwords.errors?.noMatch)}">
                <label for="confirmPass" class="input-label">Confirm password</label>
                <input id="confirmPass" type="password" name="confirmPass" formControlName="confirmPassword">
                <span class="error-message" *ngIf="getPasswordsControl().confirmPassword.touched && (getPasswordsControl().confirmPassword.errors?.['required'] || passwordRenewalForm.controls.passwords.errors?.noMatch)">{{confirmPasswordErrorMessage()}}</span>
            </div>
        </div>    
    </form>
    <app-primary-button text="Renew password" class="w-50" [isBtnDisabled]="!passwordRenewalForm.valid" (click)="onSubmit()"></app-primary-button>
</div>