@import 'src/styles/main.scss';

.content-margin{
    margin-top: 100px;
    margin-bottom: $grid-margin-height;
}
    #form{
        margin-top: 40px;
    }

    h4{
        margin-bottom: 40px;
    }

    .form-fields{
        margin-bottom: 20px;
    }