@import 'src/styles/main.scss';

.content-margin{
    margin-top: 100px;
    margin-bottom: $grid-margin-height;
    min-height: 515px;
    height: 100%;
    overflow-y: hidden;
}
    #form{
        margin-top: 40px;
    }

    h4{
        margin-bottom: 40px;
    }

    .form-fields{
        margin-bottom: 20px;
    }