@import 'src/styles/main.scss';

#business-content{
    margin-left: $grid-margin-width;
    margin-right: $grid-margin-width;
    margin-top: $grid-margin-height;
    margin-bottom: $grid-margin-height;
}

    .content-top-margin{
        margin-top: $grid-margin-height;
    }