<div class="form-wrapper d-flex flex-column align-items-center">
    <form [formGroup]="newBoatForm">
        <div class="form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (newBoatForm.controls.boatType.touched && newBoatForm.controls.boatType.errors?.['required'])}">
                <label for="boatType" class="input-label">Boat type</label>
                <select id="boatType" formControlName="boatType" name='boatType'>
                    <option style="display:none"></option>
                    <option [ngValue]="5">Fast</option>
                    <option [ngValue]="10">Very fast</option>
                    <option [ngValue]="150">I am speed</option>
                </select>
                <span class="error-message" *ngIf="newBoatForm.controls.boatType.touched && newBoatForm.controls.boatType.errors?.['required']">Must choose a boat type.</span>
            </div>
        </div>
        <div class="form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (newBoatForm.controls.maxPeople.touched && newBoatForm.controls.maxPeople.errors?.['required'])}">
                <label for="maxPeople" class="input-label">Maximum people</label>
                <input id="maxPeople" type="number" formControlName="maxPeople" name="maxPeople">
                <span class="error-message" *ngIf="newBoatForm.controls.maxPeople.touched && newBoatForm.controls.maxPeople.errors?.['required']">Maximum people must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.length.touched && newBoatForm.controls.length.errors?.['required'])}">
                <label for="length" class="input-label">Length</label>
                <div class="d-flex flex-row">
                    <input id="length" type="number" formControlName="length" name="length">
                    <span class="measurment">m</span>
                </div>
                <span class="error-message" *ngIf="newBoatForm.controls.length.touched && newBoatForm.controls.length.errors?.['required']">Length must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.loadCapacity.touched && newBoatForm.controls.loadCapacity.errors?.['required'])}">
                <label for="loadCapacity" class="input-label">Load capacity</label>
                <div class="d-flex flex-row">
                    <input id="loadCapacity" type="number" formControlName="loadCapacity" name="loadCapacity">
                    <span class="measurment">kg</span>
                </div>
                <span class="error-message" *ngIf="newBoatForm.controls.loadCapacity.touched && newBoatForm.controls.loadCapacity.errors?.['required']">Load capacity must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.maxSpeed.touched && newBoatForm.controls.maxSpeed.errors?.['required'])}">
                <label for="maxSpeed" class="input-label">Maximum speed</label>
                <div class="d-flex flex-row">
                    <input id="maxSpeed" type="number" formControlName="maxSpeed" name="maxSpeed">
                    <span class="measurment">km/h</span>
                </div>
                <span class="error-message" *ngIf="newBoatForm.controls.maxSpeed.touched && newBoatForm.controls.maxSpeed.errors?.['required']">Maximum speed must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.horsepower.touched && newBoatForm.controls.horsepower.errors?.['required'])}">
                <label for="horsepower" class="input-label">Horsepower</label>
                <input id="horsepower" type="number" formControlName="horsepower" name="horsepower">
                <span class="error-message" *ngIf="newBoatForm.controls.horsepower.touched && newBoatForm.controls.horsepower.errors?.['required']">Horsepower must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.motorsOnBoat.touched && newBoatForm.controls.motorsOnBoat.errors?.['required'])}">
                <label for="motorsOnBoat" class="input-label">Motors on boat</label>
                <input id="motorsOnBoat" type="number" formControlName="motorsOnBoat" name="motorsOnBoat">
                <span class="error-message" *ngIf="newBoatForm.controls.motorsOnBoat.touched && newBoatForm.controls.motorsOnBoat.errors?.['required']">Motors on boat must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.fuelConsumption.touched && newBoatForm.controls.fuelConsumption.errors?.['required'])}">
                <label for="fuelConsumption" class="input-label">Fuel consumption</label>
                <div class="d-flex flex-row">
                    <input id="fuelConsumption" type="number" formControlName="fuelConsumption" name="fuelConsumption">
                    <span class="measurment">l/h</span>
                </div>
                <span class="error-message" *ngIf="newBoatForm.controls.fuelConsumption.touched && newBoatForm.controls.fuelConsumption.errors?.['required']">Fuel consumption must be specified.</span>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="input-container w-50 me-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.maxDistance.touched && newBoatForm.controls.maxDistance.errors?.['required'])}">
                <label for="maxDistance" class="input-label">Max distance on tank</label>
                <div class="d-flex flex-row">
                    <input id="maxDistance" type="number" formControlName="maxDistance" name="maxDistance">
                    <span class="measurment">km</span>
                </div>
                <span class="error-message" *ngIf="newBoatForm.controls.maxDistance.touched && newBoatForm.controls.maxDistance.errors?.['required']">Maximum distance must be specified.</span>
            </div>
            <div class="input-container w-50 ms-2" [ngClass]="{'input-container-error' : (newBoatForm.controls.energyConsumption.touched && newBoatForm.controls.energyConsumption.errors?.['required'])}">
                <label for="en  ergyConsumption" class="input-label">Energy consumption</label>
                <div class="d-flex flex-row">
                    <input id="energyConsumption" type="number" formControlName="energyConsumption" name="energyConsumption">
                    <span class="measurment">W/h</span>
                </div>
                <span class="error-message" *ngIf="newBoatForm.controls.energyConsumption.touched && newBoatForm.controls.energyConsumption.errors?.['required']">Energy consumption must be specified.</span>
            </div>
        </div>
        <span class="checkbox-text">Choose navigational equipment</span>
        <div class="form-fields checkbox-title d-flex flex-row">
            <div class="w-50 me-2">
                <input id="gps" type="checkbox" name="gps">
                <label for="gps" class="checkbox-label">GPS System</label>
            </div>
            <div class="w-50 ms-2">
                <input id="vhf" type="checkbox" name="vhf">
                <label for="vhf" class="checkbox-label">VHF</label>
            </div>
        </div>
        <div class="form-fields d-flex flex-row">
            <div class="w-50 me-2">
                <input id="radar" type="checkbox" name="radar">
                <label for="radar" class="checkbox-label">Marine Radar</label>
            </div>
            <div class="w-50 ms-2">
                <input id="fishfinder" type="checkbox" name="fishfinder">
                <label for="fishfinder" class="checkbox-label">Fishfinder</label>
            </div>
        </div>
        <span class="checkbox-text">Choose fishing equipment</span>
        <div class="form-fields checkbox-title d-flex flex-row">
            <div class="w-50 me-2">
                <input id="rod" type="checkbox" name="rod">
                <label for="rod" class="checkbox-label">Fishing Rod</label>
            </div>
            <div class="w-50 ms-2">
                <input id="net" type="checkbox" name="net">
                <label for="net" class="checkbox-label">Fishing net</label>
            </div>
        </div>
        <div class="form-fields checkbox-title d-flex flex-row">
            <div class="w-50 me-2">
                <input id="lures" type="checkbox" name="lures">
                <label for="lures" class="checkbox-label">Lures</label>
            </div>
            <div class="w-50 ms-2">
                <input id="gloves" type="checkbox" name="gloves">
                <label for="gloves" class="checkbox-label">Gloves</label>
            </div>
        </div>
        <div class="form-fields checkbox-title d-flex flex-row">
            <div class="w-50 me-2">
                <input id="fridge" type="checkbox" name="fridge">
                <label for="fridge" class="checkbox-label">Fridge</label>
            </div>
            <div class="w-50 ms-2">
                <input id="knifes" type="checkbox" name="knifes">
                <label for="knifes" class="checkbox-label">Knifes</label>
            </div>
        </div>
    </form>
    <app-primary-button [text]="'Next'" class="next-btn"></app-primary-button>
</div>
