<nav class="navbar navbar-light">
    <div class="d-flex align-items-center">
        <svg class="fishbook-logo"></svg>
        <h5 class="fw-bold brand">Fishbook</h5>
    </div>
    <div class="nav-items d-flex flex-row align-items-center">
        <span class="nav-item" [ngClass]="selectedButton == 'business' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('business')" [routerLink]="['/admin/business']">Business</span>
        <span class="nav-item" [ngClass]="selectedButton == 'requests' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('requests')" [routerLink]="['/admin/requests']">Requests</span>
        <span class="nav-item" [ngClass]="selectedButton == 'reports' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('reports')" [routerLink]="['/admin/reports']">Reports</span>
        <span class="nav-item" [ngClass]="selectedButton == 'services' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('services')" [routerLink]="['/admin/services']">Services</span>
        <span class="nav-item" [ngClass]="selectedButton == 'users' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('users')" [routerLink]="['/admin/users']">Users</span>
    </div>
    <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
</nav>
<div class="overlay d-flex justify-content-end w-100" [ngClass]="{'hidden-overlay' : !dropdownMenuVisible}">
    <div class="d-flex justify-content-end w-0" [ngClass]="{'menu-container' : dropdownMenuVisible}">
        <div [hidden]="!dropdownMenuVisible" class="nav-items-menu align-items-end">
            <span class="nav-item-menu mt-2">Business</span>
            <span class="nav-item-menu">Requests</span>
            <span class="nav-item-menu">Reports</span>
            <span class="nav-item-menu">Services</span>
            <span class="nav-item-menu">Users</span>
        </div>
    </div>
</div>