<div>
    <div *ngIf="isVisible" class="glass" [ngClass]="{ 'active' : isGlassEffect }"></div>
    <nav *ngIf="isVisible" class="navbar navbar-light">
        <div routerLink="/" class="fishbook-logo-wrapper d-flex align-items-center">
            <svg class="fishbook-logo"></svg>
            <h5 class="fw-bold brand">Fishbook</h5>
        </div>
        <div class="nav-items d-flex flex-row align-items-center">
            <span class="nav-item" [ngClass]="selectedButton == 'business' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('business')" [routerLink]="['/admin/business']">Business</span>
            <span class="nav-item" [ngClass]="selectedButton == 'requests' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('requests')" [routerLink]="['/admin/requests']">Requests</span>
            <span class="nav-item" [ngClass]="selectedButton == 'reports' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('reports')" [routerLink]="['/admin/reports']">Reports</span>
            <span class="nav-item" [ngClass]="selectedButton == 'services' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('services')" [routerLink]="['/admin/services']">Services</span>
            <span class="nav-item" [ngClass]="selectedButton == 'users' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('users')" [routerLink]="['/admin/users']">Users</span>
            <img class="profile-img" src="assets/images/user.jpg">
            <div style="cursor: pointer" (click)="toggleSettings()">
                <span class="nav-item full-name">{{ adminName }}</span>
                <svg class="down-arrow"></svg>
            </div>
            <div class="settings d-flex flex-column" [ngClass]="{'settings-visible': isSettingsVisible}">
                <span class="settings-item">Settings</span>
                <span class="settings-item" (click)="logout()">Log out</span>
            </div>
        </div>
        <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
    </nav>
    <div class="mobile-nav">
        <div class="overlay" [ngClass]="{'overlay-visible' : dropdownMenuVisible}" (click)="toggleDropdownMenu()"></div>
        <div class="nav-items-mobile d-flex flex-column" [ngClass]="{'nav-items-mobile-visible' : dropdownMenuVisible}">
            <span class="nav-item-menu mt-2" [routerLink]="['/admin/business']">Business</span>
            <span class="nav-item-menu" [routerLink]="['/admin/requests']">Requests</span>
            <span class="nav-item-menu" [routerLink]="['/admin/reports']">Reports</span>
            <span class="nav-item-menu" [routerLink]="['/admin/services']">Services</span>
            <span class="nav-item-menu" [routerLink]="['/admin/users']">Users</span>
            <span class="nav-item-mobile">Profile settings</span>
        </div>
    </div>
</div>
