<div class="d-flex flex-column align-items-center special-offers">
    <div class="d-flex w-100 align-items-center justify-content-center title">
        <h3>Special offers</h3>
        <app-secondary-button *ngIf="!isSubscribed && isClient()" (click)="toggleSubscribe()" class="subscribe-btn" text="Subscribe"></app-secondary-button>
        <app-primary-button *ngIf="isSubscribed" (click)="toggleSubscribe()" class="subscribe-btn" text="Subscribed"></app-primary-button>
    </div>
    <div class="box d-flex align-items-center justify-content-center" *ngIf="specialOffers.length == 0">
        <span class="grey-text">There are currently no special offers</span>
    </div>
    <owl-carousel-o class="custom-carousel" [options]="customOptions">
        <ng-container *ngFor="let specialOffer of specialOffers">
          <ng-template carouselSlide>
            <div class="fb-container d-flex flex-column">
                <div class="d-flex dates align-items-center">
                    <div class="d-flex border-right flex-column w-50 h-100 justify-content-center align-items-center">
                        <span class="grey-text small">From</span>
                        <div class="lightblue-text text-align-center">{{specialOffer.start | date:'longDate'}}<br>{{specialOffer.start | date:'shortTime'}}</div>
                    </div>
                    <div class="d-flex flex-column w-50 h-100 justify-content-center align-items-center">
                        <span class="grey-text small">To</span>
                        <div class="lightblue-text text-align-center">{{specialOffer.end | date:'longDate'}}<br>{{specialOffer.end | date:'shortTime'}}</div>
                    </div>
                </div>
                <div class="d-flex prices align-items-center">
                    <div class="d-flex flex-column w-50 h-100 justify-content-center align-items-center">
                        <span class="grey-text small">Old price</span>
                        <div class="grey-text old-price">${{specialOffer.oldPrice}}</div>
                    </div>
                    <div class="d-flex flex-column w-50 h-100 justify-content-center align-items-center">
                        <span class="grey-text small">New price</span>
                        <div class="lightblue-text">${{specialOffer.newPrice}}</div>
                    </div>
                </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
</div>