<div class="fb-container">
    <h5>Provide rental details</h5>
    <form [formGroup]="rentalDetailsForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <input formControlName="location" id="location" type="text" name="location" required>
            <label for="location" class="input-label">Location</label>
        </div>
        <app-range-date-picker (rangeChanged)="onRangeChanged($event)"></app-range-date-picker>
        <div class="d-flex align-items-center mb-2">
            <hr/><span class="grey-text or">Or</span><hr/>
        </div>
        <div class="input-container">
            <input formControlName="name" id="search" type="text" name="search" required>
            <label for="search" class="input-label">Search by name</label>
        </div>
        <app-primary-button [text]="'Search'" (click)="onSubmit()"></app-primary-button>
    </form>
</div>
