<div class="d-flex flex-column align-items-center fb-container">
    <div class="container text-center header">{{header}}</div>
    <textarea name="response" id="response" cols="30" rows="10" [(ngModel)]="response" placeholder="Response message"></textarea>
    <div class="d-flex flex-row justify-content-between w-100">
        <app-secondary-button text="Cancel" (click)="hideDialog()" class="first"></app-secondary-button>
        <app-primary-button text="Send" (click)="sendResponse()" class="second"></app-primary-button>
    </div>
</div>