@import 'src/styles/main.scss';

#content{
    margin-left: $grid-margin-width;
    margin-right: $grid-margin-width;
    margin-top: $grid-margin-height + 70px;
    margin-bottom: $grid-margin-height;
}

    .image-container{
        position: relative;
        width: 222px;
        height: 222px;
    }

        #user-img{
            border-radius: 7px;
            width: 222px;
            height: 222px;
            object-fit: cover;
        }

        .replace-img-button{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 7px;
            background-color: color(lightblue);
            border: 0;
            transition: 200ms ease-in-out all;

            &:hover{
                background-color: rgb(117, 198, 255);
            }
        }

            .replace-icon{
                @include background-svg($camera);
                @include icon;
            }

    h2{
        margin-bottom: 10px !important;
    }

    .gradient{
        background-image: linear-gradient(45deg, color(blue), color(lightblue));
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        background-clip: text;
    }

    .left-margin{
        margin-left: 40px;
    }

    .content-top-margin{
        margin-top: $grid-margin-height;
    }

    .container-one{
        margin-right: 15px;
    }

    .container-two{
        margin-left: 15px;
    }

    .title{
        color: color(darkgrey);
        font-weight: bold;
        margin-bottom: 20px;
        font-size: $h5-size;
    }

    .form-fields{
        margin-bottom: 20px;
    }

    .disabled{
        background-color: color(lightgrey);
    }

    hr{
        width: 100%;
    }

        .or{
            margin: 0 5px;
        }

    .change-password-btn{
        margin-bottom: 7px;
    }