<div class="d-flex flex-column">
    <div class="d-flex flex-row align-items-center justify-content-between container">
        <app-admin-form class="w-100 me-2 mb-5"></app-admin-form> 
        <div class="w-100 ms-2 mb-5"></div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between container">
        <app-loyalty-settings title="Customer" loyaltyText="% of discount" class="w-100 me-2"></app-loyalty-settings>
        <app-loyalty-settings title="Seller" loyaltyText="Extra revenue" class="w-100 ms-2"></app-loyalty-settings>   
    </div>
</div>