<div class="dialog-container d-flex flex-column align-items-center">
    <h5 class="mb-3">Reservation</h5>
    <form [formGroup]="reservationForm" class="w-100">
        <div class="form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (reservationForm.controls.clientId.touched && reservationForm.controls.clientId.errors?.['required'])}">
                <select id="clientId" name='clientId' formControlName="clientId" (focus)="reservationForm.controls.clientId.markAsUntouched()">
                    <option *ngFor="let user of users" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                </select>
                <label for="clientId" class="input-label">User</label>
                <span class="error-message" *ngIf="reservationForm.controls.clientId.touched && reservationForm.controls.clientId.errors?.['required']">You must select a user.</span>
            </div>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>From</mat-label>
            <input matInput type="datetime-local" (change)="onFromDateChanged($event)" [min]="minDate">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>To</mat-label>
            <input matInput type="datetime-local" (change)="onToDateChanged($event)" [min]="minDate">
        </mat-form-field>
        <div class="d-flex flex-column form-fields">
            <div class="input-container" [ngClass]="{'input-container-error' : (reservationForm.controls.maxNumberOfPeople.touched && reservationForm.controls.maxNumberOfPeople.errors?.['required'])}">
                <input id="maxNumberOfPeople" type="number" formControlName="maxNumberOfPeople" name="maxNumberOfPeople" (focus)="reservationForm.controls.maxNumberOfPeople.markAsUntouched()" required>
                <label for="maxNumberOfPeople" class="input-label">Maximum people</label>
                <span class="error-message" *ngIf="reservationForm.controls.maxNumberOfPeople.touched && reservationForm.controls.maxNumberOfPeople.errors?.['required']">Maximum people must be specified.</span>
            </div>
        </div>
        <div class="grid">
            <div *ngFor="let additionalService of additionalServices">
                <label><input type="checkbox" formArrayName="additionalServices"
                        [checked]="reservationForm.controls['additionalServices'].value.includes(additionalService)"
                        (value)="additionalService.name"
                        (change)="additionalServicesChanged($event, additionalService)"/>
                    <span class="ms-2">{{additionalService.name}} {{additionalService.price}}$</span>
                </label>
            </div>
        </div>
    </form>
    
    <div class="d-flex flex-row w-100 justify-content-between">
        <app-secondary-button text="Cancel" class="w-50 me-1" (click)="close()"></app-secondary-button>
        <app-primary-button text="Save" class="w-50 ms-1" [isBtnDisabled]="!validRange || !reservationForm.valid" (click)="saveReservation()"></app-primary-button>
    </div>
</div>
