@import "src/styles/main.scss";

.entities-wrapper{
    padding: 100px $grid-margin-width 50px;
    width: 100%;
}

    .filters{
        min-width: 350px;
        margin-right: 50px;

        @include media("<desktop-small"){
            min-width: 300px;
        }

        @include media("<tablet-large"){
            display: none !important;
        }
    }

        .rental-details{
            margin-bottom: 30px;
        }

    .entities-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }