<div>
    <app-spinner-fullscreen *ngIf="isLoadingEntities"></app-spinner-fullscreen>
    <div *ngIf="!isLoadingEntities" class="entities-wrapper d-flex flex-column">
        <span class="grey-text mb-4">Renting a boat</span>
        <div class="d-flex">
            <div class="d-flex flex-column filters">
                <entities-rental-details class="rental-details"></entities-rental-details>
                <entities-filter-search-results></entities-filter-search-results>
            </div>
            <div class="entities-cards" *ngIf="entitiesBasicInfo">
                <div *ngFor="let entityBasicInfo of entitiesBasicInfo">
                    <app-entity-card [entityBasicInfo]="entityBasicInfo"></app-entity-card>
                </div>
            </div>
        </div>
    </div>
</div>

