<div class="specifications-wrapper">
    <img class="boat-cover-image" src="https://images.unsplash.com/photo-1604737637145-48cc31d160eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80">
    <div class="specs d-flex justify-content-between">
        <div class="col-wrapper d-flex flex-column">
            <div class="glass-wrapper-1 glass-container d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <svg class="length-icon icon"></svg>
                    <div class="d-flex flex-column">
                        <span class="white-text ssmall">Length</span>
                        <span class="white-text">{{boatSpecifications.length}} meters</span>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <svg class="load-icon icon"></svg>
                    <div class="d-flex flex-column">
                        <span class="white-text ssmall">Load capacity</span>
                        <span class="white-text">{{boatSpecifications.loadCapacity}}kg</span>
                    </div>
                </div>
            </div>
            <div class="glass-wrapper-1 glass-container d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <svg class="speed-icon icon"></svg>
                    <div class="d-flex flex-column">
                        <span class="white-text ssmall">Maximum speed</span>
                        <span class="white-text">{{boatSpecifications.maximumSpeed}} km/h</span>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <svg class="horse-icon icon"></svg>
                    <div class="d-flex flex-column">
                        <span class="white-text ssmall">Horsepower</span>
                        <span class="white-text">{{boatSpecifications.horsepower}}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <div class="glass-wrapper-2 first glass-container d-flex flex-column align-items-center">
                    <div class="glass-wrapper-box d-flex flex-column align-items-center">
                        <svg class="motors-icon icon"></svg>
                        <span class="white-text ssmall">Motors on boat</span>
                        <span class="white-text">{{boatSpecifications.motorsOnBoat}}</span>
                    </div>
                    <div class="glass-wrapper-box d-flex flex-column align-items-center">
                        <svg class="fuel-icon icon"></svg>
                        <span class="white-text ssmall">Fuel consumption</span>
                        <span class="white-text">{{boatSpecifications.fuelConsumption}} l/h</span>
                    </div>
                </div>
                <div class="glass-wrapper-2 second glass-container d-flex flex-column align-items-center">
                    <div class="glass-wrapper-box d-flex flex-column align-items-center">
                        <svg class="planet-icon icon"></svg>
                        <span class="white-text ssmall">Max distance on tank</span>
                        <span class="white-text">{{boatSpecifications.maxDistanceOnTank}}km</span>
                    </div>
                    <div class="glass-wrapper-box d-flex flex-column align-items-center">
                        <svg class="energy-icon icon"></svg>
                        <span class="white-text ssmall">Energy consumption</span>
                        <span class="white-text">{{boatSpecifications.energyConsumption}} W/h</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-wrapper d-flex flex-column">
            <div class="glass-wrapper-3 glass-container">
                <div class="d-flex flex-column align-items-center">
                    <span class="white-text fw-bold eq-title">Included navigation equipment</span>
                    <span *ngFor="let equipment of navigationEquipment" class="white-text eq-text">{{equipment}}</span>
                </div>
            </div>
            <div class="glass-wrapper-4 glass-container">
                <div class="d-flex flex-column align-items-center">
                    <span class="white-text fw-bold eq-title">Included fishing equipment</span>
                    <span *ngFor="let equipment of fishingEquipment" class="white-text eq-text">{{equipment}}</span>
                </div>
            </div>
        </div>
    </div>
</div>