@import 'src/styles/main.scss';

.wrapper{
    border: 1px solid color(lightgrey);
}

    .toolbar-btn{
        color: color(lightblue);
        font-weight: bold;
        padding-bottom: 0;
        border-bottom: 0;
    }

        .toolbar-btn:after{
            content: "";
            display: block;
            margin: 0 auto;
            width: 20%; 
            padding-top: 8px;
            border-bottom: 2px solid color(lightblue);
        }

#request-card{
    color: color(darkgrey);
    @include card;
    cursor: default;
}

    div span:nth-child(2){
        color: color(blue);
    }