@import 'src/styles/main.scss';

.wrapper{
    border: 1px solid color(lightgrey);
}

    .toolbar-btn{
        color: color(lightblue);
        font-weight: bold;
        padding-bottom: 0;
        border-bottom: 0;
    }

        .toolbar-btn:after{
            content: "";
            display: block;
            margin: 0 auto;
            width: 20%; 
            padding-top: 8px;
            border-bottom: 2px solid color(lightblue);
        }

#request-card{
    color: color(darkgrey);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
    cursor: default;
}

    div span:nth-child(2){
        color: color(blue);
    }

.backdrop{
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.95);
}

.form-container{
    width: 480px;
    background-color: white;
    border-radius: 5px;
}