<div *ngIf="isVisible">
    <div class="call-to-action d-flex align-items-center">
        <h4>Want a website like this?</h4>
        <button class="contact-us-btn">Contact us</button>
    </div>
    <div class="footer-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="d-flex flex-column links">
                    <h5>Services</h5>
                    <div class="link"><span routerLink="/">Boats</span></div>
                    <div class="link"><span routerLink="/">Houses</span></div>
                    <div class="link"><span routerLink="/">Instructors</span></div>
                </div>
                <div class="d-flex flex-column links">
                    <h5>Join us</h5>
                    <div class="link"><span  routerLink="/">Rent a boat</span></div>
                    <div class="link"><span routerLink="/">List a house</span></div>
                    <div class="link"><span routerLink="/">Become an instructor</span></div>
                </div>
                <div class="d-flex flex-column links">
                    <h5>Developers</h5>
                    <div class="link"><a href="https://www.linkedin.com/in/aleksavujisic/" target="_blank">Aleksa Vujisić</a></div>
                    <div class="link"><a href="https://www.facebook.com/melanija.racic" target="_blank">Melanija Racić</a></div>
                    <div class="link"><a href="https://www.linkedin.com/in/srdjan-dragovic/" target="_blank">Srđan Dragović</a></div>
                </div>
            </div>
            <div routerLink="/" class="fishbook-logo-wrapper d-flex align-items-center align-self-start">
                <svg class="fishbook-white-logo"></svg>
                <h5 class="fw-bold brand">Fishbook</h5>
            </div>
        </div>
        <span class="notice">
            This website was made for college purposes and it is used in development mode.
        </span>
    </div>
</div>
