@import 'src/styles/main.scss';

.form-wrapper{
    margin-top: 47px;
    margin-bottom: 36px;
    width: 100vw;
}

    .next-btn{
        width: 33.12vw;
        padding-bottom: 10px;
    }

    .checkbox-text{
        color: color(darkgrey);
    }

    .applied-rules-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        row-gap: 10px;
        margin-bottom: 20px;
    }

    .form-fields{
        margin-bottom: 20px;
        width: 33.12vw;
        display: flex;
        flex-direction: column;
    }

        .maxchar{
            display: inline-block;
            align-self: flex-end;
            color: color(darkgrey);
        }

        .input-container{
            width: 100%;
        }

            .error-textarea{
                top: 193px;
            }

        .description{
            padding-top: 25px;
            height: 192px;
        }

        .checkbox-label{
            color: color(blue);
            margin-left: 5px;
            @include noselect;
        }

        .checkbox-title{
            margin-top: 10px;
        }
