<div>
    <app-spinner-fullscreen *ngIf="!entityDetails"></app-spinner-fullscreen>
    <div class="d-flex toolbar justify-content-end" *ngIf="ownerUsername == loggedInUserUsername">
        <button class="btn ps-0 shadow-none" routerLink="/seller/edit-adventure/{{entityDetails.id}}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 17.4601V20.5001C3 20.7801 3.22 21.0001 3.5 21.0001H6.54C6.67 21.0001 6.8 20.9501 6.89 20.8501L17.81 9.94006L14.06 6.19006L3.15 17.1001C3.05 17.2001 3 17.3201 3 17.4601ZM20.71 7.04006C21.1 6.65006 21.1 6.02006 20.71 5.63006L18.37 3.29006C17.98 2.90006 17.35 2.90006 16.96 3.29006L15.13 5.12006L18.88 8.87006L20.71 7.04006Z" fill="#4BB3FD"/>
            </svg>
            <span class="edit align-middle ms-1">Edit</span>    
        </button>
    </div>
    <div *ngIf="entityDetails" class="page-wrapper d-flex flex-column">
        <div class="d-flex images-info-wrapper">
           <entity-images-viewer class="w-100" [images]="entityDetails.images"></entity-images-viewer>
            <div class="info d-flex flex-column w-100">
                <div class="title d-flex w-100 justify-content-between">
                    <h3>{{entityDetails.name}}</h3>
                    <div class="d-flex rating align-items-center">
                        <svg class="star-icon"></svg>
                        <span *ngIf="entityDetails.rating != 0">{{entityDetails.rating}}</span>
                        <span *ngIf="entityDetails.rating == 0">Not rated yet</span>
                    </div>
                </div>
                <span class="grey-text owner">Owner: {{entityDetails.seller}}</span>
                <span class="grey-text description">{{entityDetails.description}}</span>
                <span class="grey-text rules" *ngIf="entityDetails.rules.length > 0">Rules: {{entityDetails.rules.join(', ')}}</span>
                <house-rental-details *ngIf="entityType == 'house'" [houseSpecifications]="entityDetails.houseSpecifications" [price]="entityDetails.price" [location]="entityDetails.location"></house-rental-details>
                <boat-rental-details *ngIf="entityType == 'boat'" [boatSpecifications]="entityDetails.boatSpecifications" [price]="entityDetails.price" [location]="entityDetails.location"></boat-rental-details>
                <adventure-rental-details *ngIf="entityType == 'adventure'" [price]="entityDetails.price" [location]="entityDetails.location" [maxPeople]="entityDetails.maxPeople"></adventure-rental-details>
                <div class="d-flex flex-column align-items-center">
                    <app-primary-button class="w-100 mb-2" text="Rent now"></app-primary-button>
                    <span class="grey-text fee" *ngIf="entityDetails.cancellationFee != undefined && entityDetails.cancelationFee != 0">{{entityType.charAt(0).toUpperCase()+entityType.slice(1)}} owner keeps {{entityDetails.cancellationFee}}% of every cancelled reservation</span>
                </div>
                
            </div>
        </div>
        <boat-specifications class="boat-specifications" *ngIf="entityType == 'boat'" [boatSpecifications]="entityDetails.boatSpecifications" [navigationEquipment]="entityDetails.navigationEquipment" [fishingEquipment]="entityDetails.fishingEquipment"></boat-specifications>
        <adventure-about class="adventure-about" *ngIf="entityType == 'adventure'" [aboutSeller]="entityDetails.aboutSeller" [fishingEquipment]="entityDetails.fishingEquipment" [sellerImg]="entityDetails.sellerImg"></adventure-about>
        <entity-special-offers *ngIf="entityDetails.specialOffers" [specialOffers]="entityDetails.specialOffers"></entity-special-offers>
        <adventure-gallery class="adventure-gallery" *ngIf="entityType == 'adventure' && entityDetails.previousAdventureImages.length != 0" [previousAdventureImages]="entityDetails.previousAdventureImages"></adventure-gallery>
    </div>
</div>