@import 'src/styles/main.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

body {
    font-family: 'Lexend', sans-serif !important;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5{
    color: color(blue) !important;
    font-weight: bold !important;
}

h1 {
    font-size: $h1-size !important;
}

h2 {
    font-size: $h2-size !important;
}

h3 {
    font-size: $h3-size !important;
}

h4 {
    font-size: $h4-size !important;
}

h5 {
    font-size: $h5-size !important;
}

.input-container {
    text-align: center;
    border: solid 1px color(darkgrey);
    border-radius: 7px;
    position: relative;
    background-color: white;

    input {
        color: color(blue);
        border: none;
        outline: 0;
        font-size: 14px;
        padding: 25px 0 8px;
        width: 90%;
    }
}

.input-label {
    color: color(darkgrey);
    font-size: 14px;
    position: absolute;
    top: 6px;
    left: 14px;
}

a{
    text-decoration: none !important;
    color: color(lightblue) !important;

    &:hover{
        cursor: pointer;
        color: color(lightblue) !important;
    }
}