@import 'src/styles/main.scss';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

body {
    font-family: 'Lexend', sans-serif !important;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5{
    color: color(blue) !important;
    font-weight: bold !important;
    margin: 0 !important;
}

h1 {
    font-size: $h1-size !important;

    @include media("<desktop-medium"){
        font-size: $h2-size !important;
    }

    @include media("<tablet-large"){
        font-size: $h3-size !important;
    }

    @include media("<phone-large"){
        font-size: $h4-size !important;
    }
}

h2 {
    font-size: $h2-size !important;

    @include media("<desktop-medium"){
        font-size: $h3-size !important;
    }

    @include media("<tablet-large"){
        font-size: $h4-size !important;
    }

    @include media("<phone-large"){
        font-size: $h5-size !important;
    }
}

h3 {
    font-size: $h3-size !important;

    @include media("<desktop-medium"){
        font-size: $h4-size !important;
    }

    @include media("<tablet-large"){
        font-size: $h5-size !important;
    }
}

h4 {
    font-size: $h4-size !important;

    @include media("<tablet-large"){
        font-size: $h5-size !important;
    }
}

h5 {
    font-size: $h5-size !important;
}

span{
    font-size: $body-size;

    @include media("<desktop-medium"){
        font-size: $body-size !important;
    }
}

.input-container {
    text-align: center;
    border: 1px solid color(darkgrey);
    border-radius: 7px;
    position: relative;
    background-color: white;
    padding: 25px 14px 8px 14px;
    transition: 0.3s all ease-in;

    .input-label {
        color: color(darkgrey);
        font-size: 14px;
        position: absolute;
        left: 14px;
        top: 18px;
        transition: 0.15s all ease-in-out;
    }

    input {
        color: color(blue);
        border: none;
        outline: 0;
        font-size: 14px;
        width: 100%;
        background-color: transparent;
        
        // &:not(:placeholder-shown) + .input-label{
        //     font-size: 12px;
        //     top: 6px;
        //     left: 14px;
        //     color: color(darkgrey);
        // }

        &:valid + .input-label{
            font-size: 12px;
            top: 6px;
            left: 14px;
            color: color(darkgrey);
        }

        &:focus + .input-label{
            font-size: 12px;
            top: 6px;
            left: 14px;
            color: color(lightblue);
        }

        
    }

    textarea{
        color: color(blue);
        font-size: 14px;
        resize: none;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;

        &:focus{
            box-shadow: none;
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        &:valid + .input-label{
            font-size: 12px;
            top: 6px;
            left: 14px;
            color: color(darkgrey);
        }

        &:focus + .input-label{
            font-size: 12px;
            top: 6px;
            left: 14px;
            color: color(lightblue);
        }
    }

    select{
        color: color(blue);
        font-size: 14px;
        width: 100%;
        box-shadow: none;
        border: none;
        background-color: transparent;
        
        &:focus{
            box-shadow: none;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        &:valid + .input-label{
            font-size: 12px;
            top: 6px;
            left: 14px;
            color: color(darkgrey);
        }

        &:focus + .input-label{
            font-size: 12px;
            top: 6px;
            left: 14px;
            color: color(lightblue);
        }
    }

    .error-message{
        position: absolute;
        top: 58px;
        left: 0px;
        color: color(red);
        font-size: 12px;
    }
}

.input-container-error{
    background-color: rgb(255, 208, 208);
    border-color: color(red);
}

a{
    text-decoration: none !important;
    color: color(lightblue) !important;

    &:hover{
        cursor: pointer;
        color: color(lightblue) !important;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 10px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color(darkgrey);
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
        position: absolute;
        content: "";
        height: 6px;
        width: 6px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}
  
input:checked + .slider {
    background-color: color(lightblue);
}

input:focus + .slider {
    box-shadow: 0 0 1px color(lightblue);
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
  
.slider.round {
    border-radius: 34px;

    &::before {
        border-radius: 50%;
    }
}

.fb-container{
    border-radius: 7px;
    padding: 30px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
}

.glass-container{
    height: 100%;
    background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.55));
    box-shadow: 0px 0px 0px 1px white inset;
    backdrop-filter: blur(10px);
}

.grey-text{
    color: color(darkgrey);
}

.blue-text{
    color: color(blue);
}

.lightblue-text{
    color: color(lightblue);
}

.c-toast-container{
    padding: 0 !important;
}
  
    .c-toast{
        padding: 10px 20px;
        border-radius: 0 !important;
        border: 0;
        margin: 15px $grid-margin-width 15px 0 !important;
    }
  
    .c-toast--success{
        background-color: color(green) !important;
    }
  
    .c-toast--error{
      background-color: color(red) !important;
    }
    
.white-text{
    color: white;
}

.small{
    font-size: 14px !important;
}

.ssmall{
    font-size: 12px !important;
}

.page-wrapper{
    width: 100%;
    padding: 100px $grid-margin-width 30px $grid-margin-width;
}

.owl-stage{
    padding: 10px 0;
}

.owl-dot span{
    background-color: color(darkgrey) !important;
    transition: background-color 0.2s ease-in-out;
}

.owl-dot.active span{
    background-color: color(lightblue) !important;
}

.text-align-right{
    text-align: right;
}

.text-align-center{
    text-align: center;
}