<div class="about-wrapper">
    <img class="instructor-cover-image"
        [src]="sellerImg">
    <div class="specs d-flex flex-column">
        <div class="glass-container about d-flex flex-column align-items-center">
            <span class="fw-bold white-text title">Marina Fox</span>
            <span class="white-text description">
                {{aboutSeller}}
            </span>
        </div>
        <div class="glass-container equipment d-flex flex-column">
            <span class="fw-bold white-text title align-self-center">Included fishing equipment</span>
            <div class="d-flex flex-column equipment-wrapper">
                <span *ngFor="let equipment of fishingEquipment" class="white-text eq-text">{{equipment}}</span>
            </div>
        </div>
    </div>
</div>