@import 'src/styles/main.scss';

#main-wrapper{
    margin-top: 70px;
}

.wrapper{
    border-bottom: 1px solid color(lightgrey);
}

    .toolbar{
        margin-left: $grid-margin-width;
    }

    .btn{
        margin-right: 10px;
    }

        .btn-unselected{
            color: color(darkgrey);
        }

        .toolbar-btn{
            color: color(lightblue);
            font-weight: bold;
            padding-bottom: 0;
            border-bottom: 0;
        }

            .toolbar-btn:after{
                content: "";
                display: block;
                margin: 0 auto;
                width: 30px; 
                padding-top: 5px;
                border-bottom: 2px solid color(lightblue);
            }
            
#content-wrapper{
    margin-left: $grid-margin-width;
    margin-right: $grid-margin-width;
    margin-top: $grid-margin-height;
    margin-bottom: $grid-margin-height;
}