@import "src/styles/main.scss";

.navbar{
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 15px $grid-margin-width;
    height: 70px;
    width: 100%;

    @include media("<tablet-large"){
        background-color: white;
    }
}

.glass{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
    background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.85), rgba(255,255,255, 0.7));
    box-shadow: 0px 0px 0px 1px white inset;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 200ms ease-in;
}

.glass.active{
    opacity: 1;
}

    .fishbook-logo-wrapper{
        @include noselect;
        cursor: pointer;
    }

        .fishbook-logo{
            @include background-svg($fishbook-logo);
            width: 41px;
            height: 34px;
            background-repeat: no-repeat;
        }

        h5{
            margin: 0px !important;
        }

    .brand{
        background-color: #f3ec78;
        background-image: linear-gradient(45deg, color(blue), color(lightblue));
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        background-clip: text;
    }

    .nav-items{
        position: relative;

        @include noselect;
        @include media("<tablet-large"){
            display: none !important;
        }
    }

        .nav-item{
            margin-right: 40px;
            color: color(lightblue);
            cursor: pointer;
            transition: color 250ms ease-in;

            &:hover{
                color: color(blue);
            }
        }

        .active{
            font-weight: bold;
        }

        .full-name{
            color: color(lightblue);
            cursor: pointer;
        }

        .down-arrow{
            cursor: pointer;
            @include background-svg($down-arrow);
            @include icon;
        }

        .profile-img{
            border-radius: 50%;
            height: 24px;
            width: 24px;
            margin-right: 10px;
            object-fit: cover;
        }

        .settings{
            position: absolute;
            top: 35px;
            right: 0;
            background-color: white;
            padding: 20px 30px;
            border-radius: 7px;
            opacity: 0;
            visibility: hidden;
            transition: all 200ms ease-in;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
            @include noselect;
        }

        .settings.settings-visible{
            opacity: 1;
            visibility: visible;
        }

            .settings-item{
                display: inline-block;
                margin-bottom: 10px;
                color: color(lightblue);
                cursor: pointer;
                transition: color 250ms ease-in;

                &:last-child{
                    margin-bottom: 0;
                }

                &:hover{
                    color: color(blue);
                }
            }

    .navbar-menu{
        @include background-svg($navbar-menu);
        @include icon;

        @include media(">=tablet-large"){
            display: none !important;
        }
    }

.mobile-nav{
    @include media(">=tablet-large"){
        display: none !important;
    }
}

    .overlay{
        position: fixed;
        z-index: 100;
        top: 70px;
        height: calc(100% - 70px);
        width: 100%;
        visibility: hidden;
        opacity: 0;
        background-color: rgba(34, 34, 34, 0.5);
        transition: all 300ms ease-in;
    }

    .overlay.overlay-visible{
        visibility: visible;
        opacity: 1;
    }

    .nav-items-mobile{
        position: fixed;
        background-color: white;
        position: fixed;
        z-index: 101;
        width: 40%;
        height: calc(100% - 70px);
        top: 70px;
        right: 0;
        padding: 0 $grid-margin-width 20px 20px;
        transform: scale(0, 1);
        transform-origin: right;
        transition: all 300ms ease-in;

        @include media("<phone-large"){
            width: 70%;
        }
    }

    .nav-items-mobile.nav-items-mobile-visible{
        transform: scale(1, 1);
    }

        .nav-item-mobile{ 
            @include noselect;
            text-align: right;
            color: color(lightblue);
            cursor: pointer;
            margin-bottom: 10px;
        }

