<div id="home-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active carousel-button" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1" class="carousel-button" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2" class="carousel-button" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="6000">
        <img src="assets/images/min/first-image.jpg" class="home-image d-block w-100">
        <div class="carousel-caption first">
          <h1>Your next adventure<br>is around the corner</h1>
          <p>Book a boat for the next fishing adventure</p>
          <div class="d-flex justify-content-start">
            <app-primary-button text="Rent a boat"></app-primary-button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="assets/images/min/second-image.jpg" class="home-image d-block w-100">
        <div class="carousel-caption second">
          <h1>Rent a house for the weekend</h1>
          <p>See cottages for memorable barbeque weekends with your family and friends</p>
          <div class="d-flex justify-content-end">
            <app-primary-button text="Rent a house"></app-primary-button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="assets/images/min/third-image.jpg" class="home-image d-block w-100">
        <div class="carousel-caption third">
          <h1>Find the best fishing<br>
            instructors near you</h1>
          <p>Become a better fisherman with the help of our best instructors</p>
          <div class="d-flex justify-content-end">
            <app-primary-button text="Hire instructor"></app-primary-button>
          </div>
        </div>
      </div>
    </div>
  </div>