<div class="specs d-flex align-items-center mb-2">
    <svg class="location-icon"></svg>
    <span>San Francisco Bay 1A, California, United States</span>
</div>
<div class="specs d-flex align-items-center mb-2">
    <svg class="boat-icon"></svg>
    <span>4 rooms</span>
</div>
<div class="specs d-flex align-items-center mb-2">
    <svg class="seat-icon"></svg>
    <span>7 People Max</span>
</div>
<div class="specs d-flex align-items-center mb-4">
    <svg class="money-icon"></svg>
    <div class="d-flex w-100 justify-content-between">
        <span>Rental price</span>
        <span class="text-align-right">$300/day</span>
    </div>
</div>