<div class="fb-container d-flex flex-column">
    <div class="square-container">
        <img class="entity-image"
            src="https://images.unsplash.com/photo-1544189360-0c4ef5ccd5f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Ym9hdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=300&q=60" alt="">
    </div>
    <h5>Pirate's Dream</h5>
    <span class="grey-text">James Franco</span>
    <div class="description">
        Great fast boat with barbecue grill and three fridges. Good for long sailing across the sea.
    </div>
    <span class="grey-text">
        San Francisco Bay, California
    </span>
    <div class="d-flex rating-price justify-content-between align-items-center">
        <div class="d-flex rating align-items-center">
            <svg class="star-icon"></svg>
            <span>4.8</span>
        </div>
        <span class="price">
            300$/day
        </span>
    </div>
    <app-primary-button [text]="'See more'"></app-primary-button>
</div>