<div *ngIf="entityType && entityBasicInfo" class="fb-container d-flex flex-column">
    <div class="square-container">
        <img class="entity-image"
            [routerLink]="['/' + entityType, entityBasicInfo.id]"
            [src]="entityBasicInfo.imageUrl">
    </div>
    <h5 [routerLink]="['/' + entityType, entityBasicInfo.id]">{{entityBasicInfo.name}}</h5>
    <span class="grey-text">{{entityBasicInfo.seller}}</span>
    <div class="description">
        {{entityBasicInfo.description}}
    </div>
    <span class="entity-location grey-text">
        {{entityBasicInfo.location}}
    </span>
    <div class="d-flex rating-price justify-content-between align-items-center">
        <div class="d-flex rating align-items-center">
            <svg *ngIf="entityBasicInfo.rating" class="star-icon"></svg>
            <span>{{entityBasicInfo.rating}}</span>
            <span *ngIf="!entityBasicInfo.rating">No rating</span>
        </div>
        <span class="price">
            {{entityBasicInfo.price}}$/day
        </span>
    </div>
    <div class="d-flex flex-row">
        <button *ngIf="role == 'ROLE_ADMIN'" (click)="deleteEntity(entityBasicInfo.id)" class="btn d-flex justify-content-center align-items-center" id="delete-btn"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V9C18 7.9 17.1 7 16 7H8C6.9 7 6 7.9 6 9V19ZM18 4H15.5L14.79 3.29C14.61 3.11 14.35 3 14.09 3H9.91C9.65 3 9.39 3.11 9.21 3.29L8.5 4H6C5.45 4 5 4.45 5 5C5 5.55 5.45 6 6 6H18C18.55 6 19 5.55 19 5C19 4.45 18.55 4 18 4Z" fill="#A2A2A2"/></svg></button>
        <app-primary-button class="w-100" [text]="'See more'" [routerLink]="['/' + entityType, entityBasicInfo.id]"></app-primary-button>
    </div>
</div>