<div>
    <div *ngIf="isVisible" class="glass" [ngClass]="{ 'active' : isGlassEffect }"></div>
    <nav *ngIf="isVisible" class="navbar navbar-light">
        <div routerLink="/" class="fishbook-logo-wrapper d-flex align-items-center">
            <svg class="fishbook-logo"></svg>
            <h5 class="fw-bold brand">Fishbook</h5>
        </div>
        <div class="nav-items d-flex flex-row align-items-center">
            <span class="nav-item" routerLink="boats" routerLinkActive="active">Boats</span>
            <span class="nav-item" routerLink="houses" routerLinkActive="active">Houses</span>
            <span class="nav-item" routerLink="adventures" routerLinkActive="active">Adventures</span>
            <img class="profile-img" src="assets/images/user.jpg">
            <div class="d-flex align-items-center" style="cursor: pointer" (click)="toggleSettings()">
                <span class="full-name">Aleksa Vujisic</span>
                <svg class="down-arrow"></svg>
            </div>
            <div class="settings d-flex flex-column" [ngClass]="{'settings-visible': isSettingsVisible}">
                <span class="settings-item">Settings</span>
                <span class="settings-item" (click)="logout()">Log out</span>
            </div>
        </div>
        <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
    </nav>
    <div *ngIf="isVisible" class="mobile-nav">
        <div class="overlay" [ngClass]="{'overlay-visible' : dropdownMenuVisible}" (click)="toggleDropdownMenu()"></div>
        <div class="nav-items-mobile d-flex flex-column" [ngClass]="{'nav-items-mobile-visible' : dropdownMenuVisible}">
            <span class="nav-item-mobile mt-2" routerLink="boats" routerLinkActive="active">Boats</span>
            <span class="nav-item-mobile" routerLink="houses" routerLinkActive="active">Houses</span>
            <span class="nav-item-mobile" routerLink="adventures" routerLinkActive="active">Adventures</span>
            <span class="nav-item-mobile">Profile settings</span>
            <span class="nav-item-mobile" (click)="logout()">Log out</span>
        </div>
    </div>
</div>
