@import "src/styles/main.scss";

.dialog-container{
    background-color: white;
    border-radius: 7px;
    width: 34.72vw;
    padding: 30px 30px;
}

    .form-fields{
        margin-bottom: 20px;
    }