<div class="d-flex wrapper">
    <span class="nav-item" [routerLink]="['/admin/business']" routerLinkActive="active">Business</span>
    <span class="nav-item" [routerLink]="['/admin/requests']" routerLinkActive="active">Requests</span>
    <span class="nav-item" [routerLink]="['/admin/reports']" routerLinkActive="active">Reports</span>
    <span class="nav-item" [routerLink]="['/admin/services']" routerLinkActive="active">Services</span>
    <span class="nav-item" [routerLink]="['/admin/users']" routerLinkActive="active">Users</span>
</div>
