@import "src/styles/main.scss";

.fb-container{
    width: 100%;
}

    h5{
        margin-bottom: 20px !important;
    }

    .input-container{
        margin-bottom: 20px;
    }
    
    hr{
        width: 100%;
    }

    .or{
        margin: 0 5px;
    }