<div class="specs d-flex align-items-center mb-2">
    <svg class="location-icon"></svg>
    <span>{{location.address}}, {{location.city}}, {{location.country}}</span>
</div>
<div class="specs d-flex align-items-center mb-2">
    <svg class="house-icon"></svg>
    <span>{{houseSpecifications.roomCount}} rooms</span>
</div>
<div class="specs d-flex align-items-center mb-2">
    <svg class="bed-icon"></svg>
    <div class="d-flex w-100 justify-content-between">
        <span>{{houseSpecifications.bedsByRooms}}</span>
        <span class="text-align-right">{{houseSpecifications.totalBeds}} beds total</span>
    </div>
</div>
<div class="specs d-flex align-items-center mb-4">
    <svg class="money-icon"></svg>
    <div class="d-flex w-100 justify-content-between">
        <span>Rental price</span>
        <span class="text-align-right">${{price}}/day</span>
    </div>
</div>