<div class="specs d-flex align-items-center mb-2">
    <svg class="location-icon"></svg>
    <span>San Francisco Bay 1A, California, United States</span>
</div>
<div class="specs d-flex align-items-center mb-2">
    <svg class="house-icon"></svg>
    <span>4 rooms</span>
</div>
<div class="specs d-flex align-items-center mb-2">
    <svg class="bed-icon"></svg>
    <div class="d-flex w-100 justify-content-between">
        <span>1 bed | 2 beds | 1 bed | 4 beds</span>
        <span class="text-align-right">8 beds total</span>
    </div>
</div>
<div class="specs d-flex align-items-center mb-4">
    <svg class="money-icon"></svg>
    <div class="d-flex w-100 justify-content-between">
        <span>Rental price</span>
        <span class="text-align-right">$200/day</span>
    </div>
</div>